<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ContentDirectory" value="E:\Programming\KTouch\Main\Content\Content"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="ContactsEntities" connectionString="metadata=res://*/Contacts.csdl|res://*/Contacts.ssdl|res://*/Contacts.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=Contacts;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>